
<h1 mat-dialog-title>Bank Details</h1>
<div mat-dialog-content>
    <p class="hp-p1-body" >
        Enter your bank details.
    </p>
    <form [formGroup]="reactiveForm" (ngSubmit)="formSubmit()">
          <div class="bankContent">
    <mat-form-field>
        <mat-label>Account Holder Name</mat-label>
        <input matInput formControlName="accountHolderName">
        <mat-error *ngIf="reactiveForm.get('accountHolderName')?.invalid && (reactiveForm.get('accountHolderName')?.dirty ||reactiveForm.get('accountHolderName')?.touched)">
            <small *ngIf="reactiveForm.get('accountHolderName')?.errors?.['required']">Name is required.</small>
        </mat-error>    
    </mat-form-field>
    <mat-form-field>
        <mat-label>Bank Name</mat-label>
        <input matInput formControlName="bankName">
        <mat-error *ngIf="reactiveForm.get('bankName')?.invalid && (reactiveForm.get('bankName')?.dirty ||reactiveForm.get('bankName')?.touched)">
            <small *ngIf="reactiveForm.get('bankName')?.errors?.['required']">Bank name is required.</small>
        </mat-error>    
    </mat-form-field>
    </div>
    <div class="bankContent">
        <mat-form-field style="width: 100%;">
            <mat-label>IBAN/Account Number</mat-label>
            <input matInput formControlName="accountNumber">
            <mat-error *ngIf="reactiveForm.get('accountNumber')?.invalid && (reactiveForm.get('accountNumber')?.dirty ||reactiveForm.get('accountNumber')?.touched)">
                <small *ngIf="reactiveForm.get('accountNumber')?.errors?.['required']">IBAN/Account number is required.</small>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="bankContent">
        <mat-form-field style="width: 100%;">
            <mat-label>BIC/SWIFT</mat-label>
            <input matInput formControlName="swiftCode">
            <mat-error *ngIf="reactiveForm.get('swiftCode')?.invalid && (reactiveForm.get('swiftCode')?.dirty ||reactiveForm.get('swiftCode')?.touched)">
                <small *ngIf="reactiveForm.get('swiftCode')?.errors?.['required']">BIC/SWIFT code is required.</small>
            </mat-error>
        </mat-form-field>
    </div>
        <div mat-dialog-actions class="closeBtn">
            <button mat-dialog-close class="btn btn primary">Close</button>
            <button type="submit" mat-dialog-close [disabled]="reactiveForm.invalid"  class="btn btn primary">Submit</button>
        </div>
        <small *ngIf="error != ''">Something went wrong.Try again later</small>
    </form>
  
    </div> 
