/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.emptyTable{
    text-align: center;
  }

.emptyImg{
    margin: auto;
    width: 5rem;
  }

.errorContainer{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media(min-width : 2560px){
    .hp-main-layout-content{
      max-width: 100%;
      width: 100%;
    }
  }