<div class="hp-main-layout-content">
  <div class="row mb-32 gy-32">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col pe-md-32 pe-md-120">
              <h4>Products</h4>
            </div>
            <ng-template #emptyTable>
              <p class="hp-p1-body emptyTable">
                No data to view. Try adding new client.
              </p>
              <img class="emptyImg" src="assets/myImg/empty-folder.png" alt="" />
            </ng-template>
            <div class="hp-header-search searchContainer col">
              <input type="text" style="width: 40%;" [(ngModel)]="serachForModel" class="form-control"
                placeholder="Search..." id="header-search" autocomplete="off">
            </div>
            <div class="table-responsive col-12 mt-16">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Article Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Product Link</th>
                    <th scope="col">QA</th>
                    <th scope="col">Product Status</th>
                    <th scope="col">Preview</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let modeler of modelList">
                    <ng-container *ngFor="let client of modeler.models">
                       <tr *ngFor="let modelObj of client.models | paginate
                    : {
                        id: 'listing_pagination',
                        itemsPerPage: 6,
                        currentPage: page,
                        totalItems: totalRecords
                      };let i = index">
                    <ng-container
                      *ngIf="serachForModel == ''||(modelObj?.tag.toLowerCase().includes(serachForModel))||(modelObj?.articleId.toLowerCase().includes(serachForModel))||(modelObj?.productName.toLowerCase().includes(serachForModel))">
                      <td scope="row">{{i+1}}</td>
                      <td>{{client.clientDetails.clientName}}</td>
                      <td>{{modelObj.articleId}}</td>
                      <td>
                        <div class="modalNameContainer">
                          <div class="text-with-dots" matTooltip="{{modelObj.productName}}"
                            matTooltipPosition="above">{{modelObj.productName}}</div>
                          <div *ngIf="modelObj.Reff"><a href="{{modelObj.Reff}}" target="_blank"
                              style="font-size: smaller;">Reference</a></div>
                        </div>
                      </td>
                      <td>
                        $ {{modelObj.price}}
                      </td>
                      <td *ngIf="modelObj.productLink;else noLink"><a target="_blank"
                          href="{{modelObj.productLink}}" style="cursor: pointer;">Click here</a>
                      </td>
                      <ng-template #noLink>
                        <td class="text-danger">NO LINK</td>
                      </ng-template>
                      <td>{{modelObj.QaTeam}}</td>
                      <td *ngIf="modelObj.productStatus == 'Not uploaded' ;else pending"
                        style="color: rgb(252, 11, 51);font-weight: 600;">{{modelObj.productStatus}}</td>
                      <ng-template #pending>
                        <td style="font-weight: bold;"
                          [ngStyle]="{color : modelObj.productStatus == 'Approved' ? 'green' : 'rgb(255, 157, 0)' }">
                          {{modelObj.productStatus}}</td>
                      </ng-template>
                      <td *ngIf="modelObj.productStatus != 'Not uploaded';else NoData">
                        <button class="btn btn-sm btn-outline-primary">
                          <a class="myhover"
                            [routerLink]="['../../../reviews',modelObj.articleId,modelObj.clientId,modelObj.version]">View
                            Model</a>
                        </button>
                      </td>
                      <ng-template #NoData>
                        <td>
                          <p class="NoData" style="font-weight: 600;color: red;">
                            No Data
                          </p>
                        </td>
                      </ng-template>
                    </ng-container>
                  </tr>
                    </ng-container>
                  </ng-container>
                 
                </tbody>
              </table>
              <div>
                <pagination-controls *ngIf="totalRecords != 0;" id="listing_pagination" [maxSize]="5"
                  [directionLinks]="true" (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>

            <div class="col-12 mt-24 hljs-container">
              <pre>
          <code class="html" data-component='table' data-code='overview'></code>
      </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>