<div class="hp-main-layout-content">
    <div class="row mb-32 gy-32">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col pe-md-32 pe-md-120" *ngIf="clientTableData.length != 0; else emptyTable">
                    <h4>Client Details</h4>
      
                    <p class="hp-p1-body">
                      The list of completed clients
                    </p>
                  </div>
                  <ng-template #emptyTable>
                    <p class="hp-p1-body emptyTable">
                      No data to view.
                    </p>
                    <div class="emptyImg">
                      <img  src="assets/myImg/empty-folder.png" alt="" />
                    </div>
      
                  </ng-template>
      
                  <div class="table-responsive col-12 mt-16">
                    <table *ngIf="clientTableData.length != 0" class="table table-bordered text-center">
                      <thead>
                        <tr>
                          <th scope="col">Sl No</th>
                          <th scope="col">Client Name</th>
                          <th scope="col">Product Count</th>
                          <th scope="col">Status</th>
                          <th scope="col">Acc Manager</th>
                          <th scope="col">Product List</th>
                          <th scope="col">Project Dead Line</th>
                          <th scope="col">Internal Dead Line</th>
      
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="
                        let client of clientTableData
                          | paginate
                            : {
                                id: 'listing_pagination',
                                itemsPerPage: 6,
                                currentPage: page,
                                totalItems: totalRecords
                              };
                        let i = index
                      ">
                          <td scope="row">{{ i + 1 }}</td>
                          <td>{{ client.clientName }}</td>
                          <td>{{ client.productCount }}</td>
                          <td [ngStyle]="{color: client.status == 'Approved' ? 'green' : 'red'}">{{ client.status }}</td>
                          <td><strong>{{client.account_Manager}}</strong></td>
                          <td>
                            <button class="btn btn-sm btn-outline-primary">
                              <a class="myhover" (click)="sendClientName(client.clientName)" [routerLink]="['products',client._id]"
                                >View Here</a>
                            </button>
                          </td>
                          <td>{{client.project_deadline}}</td>
                          <td>{{client.internal_deadline}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div>
                      <pagination-controls *ngIf="clientTableData.length != 0;" id="listing_pagination" [maxSize]="5" [directionLinks]="true"
                        (pageChange)="page = $event"></pagination-controls>
                    </div>
                  </div>
      
                  <div class="col-12 mt-24 hljs-container">
                    <pre>
              <code class="html" data-component='table' data-code='overview'></code>
          </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
