.emptyTable{
  text-align: center;
}
.emptyImg{
  margin: auto;
  width: 5rem;
}

.myhover:hover{
  color: white;
}

.myclass{
  padding-left: 8px;
  padding-bottom: 8px;
}

#count{
  font-size: 19px;
}
