<div class="hp-main-layout-content">
    <div class="row mb-32 gy-32">
        <div class="col-12">
            <div class="row g-32">
                <ng-container *ngFor="let model of models;let i = index">
                    <div class="col-12 col-md-6 col-xl-4"
                        *ngIf="recieved == ''||model?.productName?.toLowerCase().includes(recieved)||model?.articleId?.toLowerCase().includes(recieved)">
                        <ng-container *ngIf="model.productStatus != 'Not uploaded'">
                            <div class="card hp-card-6 hp-eCommerceCardOne hp-eCommerceCardOne-wishlist"
                                style="min-height: 350px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row mx-0 align-items-start justify-content-between">
                                                <span
                                                    class="badge bg-primary-4 hp-bg-dark-primary border-none w-auto py-8 px-16 fw-medium"
                                                    [ngStyle]="{color:model.productStatus == 'Approved' ? 'green' : 'red'}">{{model.productStatus}}</span>
                                                <div class="d-flex w-auto lh-1 hp-wish-button hp-cursor-pointer hp-bg-color-dark-danger rounded-circle remix-icon p-8"
                                                    [ngStyle]="{color:model.productStatus == 'Approved' ? 'green' : 'red'}"
                                                    [ngStyle]="{background:model.productStatus  == 'Approved' ? '#00800061' : '#ff000042'}">
                                                    <i *ngIf="model.productStatus == 'Approved';else correction"
                                                        class="hp-text-color-dark-0 ri-2x ri-checkbox-circle-fill"
                                                        style="font-size: 1.2em;"></i>
                                                    <ng-template #correction>
                                                        <i class="hp-text-color-dark-0 ri-2x ri-close-circle-fill"
                                                            style="font-size: 1.3em;"></i>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="text-center mb-24">
                                                <a [routerLink]="['../../interactive-section',model.articleId,model.clientId,model.version]"
                                                    (click)="nameLoad(modeler[0].modelerName)" class="d-block">
                                                    <img src="{{staticUrl}}/pngFiles/{{model.articleId}}&&{{model.clientId}}.png"
                                                        alt="">
                                                </a>
                                            </div>

                                            <div class="row justify-content-between">
                                                <div class="col w-auto">
                                                    QA - {{model.QaTeam}}
                                                </div>

                                                <div class="col w-auto">
                                                    <div class="row align-items-center text-end">
                                                        <p class="mb-0 text-primary fw-medium">${{model.price}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 mb-16 mt-16">
                                                <p
                                                    class="mb-4 text-black-100 hp-text-color-dark-0 hp-p1-body fw-medium">
                                                    {{model.productName}}</p>
                                                <p
                                                    class="mb-0 hp-caption fw-normal text-black-80 hp-text-color-dark-30">
                                                    {{model.articleId}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>