<h1 mat-dialog-title>Model Report</h1>
<div mat-dialog-content>
    <ul>
        <li>Polygon Count : <span>{{data.totalTriangleCount}}</span></li>
        <li>Draw calls : <span>{{data.drawCallCount}}</span></li>
        <li>Material Count : <span>{{data.materialCount}}</span></li>
        <li>Vertices : <span>{{data.totalVertexCount}}</span></li>
        <li>Animations : <span>{{data.animationCount}}</span></li>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-dialog-close class="btn btn primary">Close</button>
</div>