<div class="container">
    <div class="row">
        <div class="col-12">
            <model-viewer #modelTest
            camera-controls
            camera-orbit="45deg 55deg 115%"
            shadow-intensity="1.3"
            [src]="src"
            disable-tap
            alt="A 3D model of an astronaut"
            data-js-focus-visible=""
            ar-status="not-presenting"
            
            >
            </model-viewer>
        </div>
    </div>
</div>
<!-- <div class="hp-main-layout-content">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <span class="badge bg-primary-4 hp-bg-dark-primary text-primary border-none position-absolute top-0 left-0 w-auto m-16 my-sm-32 mx-sm-18 py-8 px-16 fw-medium">Featured</span>

                    <div class="col-12 col-lg-12 hp-ecommerce-app-detail-slider mt-24 mt-md-0 mb-64 mb-lg-0">
                        <div class="swiper hp-ecommerce-app-detail-slider-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="d-flex align-items-center justify-content-center">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    
                </div>

                
            </div>
        </div>
    </div>
</div> -->