<div class="hp-main-layout-content">
    <div class="row mb-32 g-32">
        <div class="col flex-grow-1 overflow-hidden">
            <div class="col-6">
                <div class="row align-items-center justify-content-between">
                    <div class="col-sm-6 col-12">
                        <span class="h3 fw-semibold hp-text-color-black-bg hp-text-color-dark-0 d-block mb-0"> Modelers </span>
                        <p class="hp-p1-body mt-4 mb-0">List of modelers with their production status</p>
                    </div>

                    <div class="col"></div>
                </div>

                <div class="row mt-24 mx-0">
                    <div *ngFor="let modeler of modelerList;let i = index;" class="hp-bg-black-0 hp-bg-dark-100 border hp-border-color-black-10 hp-border-color-dark-80 p-12 mb-16 col-12 rounded-5">
                        <div class="row align-items-center justify-content-between">
                            <div class="mb-16 mb-sm-0 col-sm-6 col-12">
                                <div class="row align-items-center">
                                    <div class="hp-flex-none w-auto pe-0 col">
                                        <div class="hp-cursor-pointer border hp-border-color-dark-80 me-16" style="border-radius: 15px;">
                                            <div class="overflow-hidden m-4 d-flex hp-bg-danger-4" style="min-width: 64px; width: 64px; height: 64px; border-radius: 15px;">
                                                <img src="assets/app-assets/img/users/user-8.svg" alt="User" height="100%">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hp-flex-none w-auto ps-0 col">
                                        <span class="d-block h4 mb-0">{{modeler._id}}</span>
                                        <span class="d-block hp-p1-body mt-4">Modeler</span>
                                    </div>
                                </div>
                            </div>

                            <div class="text-sm-end text-start col-sm-3 col-6" style="min-height: 50px;">
                                <span class="d-block h4 fw-normal mb-0"> $ {{modeler.totalAmount}} </span>
                                <span class="d-block hp-p1-body mt-4">Models: {{modeler.count}}</span>
                            </div>

                            <div class="text-end col-sm-3 col-6" style="min-height: 50px;">
                                <span class="h4">{{modeler.percentage}}</span>
                            </div>
                        </div>
                    </div>

                    

                    
                </div>
            </div>
        </div>
    </div>
</div>