
<div class="hp-main-layout-content">
  <div class="row mb-32 gy-32">
    <div class="col-12">
      <div
        class="hp-bg-black-bg py-32 py-sm-40 px-24 px-sm-48 px-md-50 position-relative overflow-hidden hp-page-content"
        style="border-radius: 32px">
        <svg width="358" height="336" fill="none" xmlns="http://www.w3.org/2000/svg"
          class="position-absolute hp-rtl-scale-x-n1" style="bottom: 0px; right: 0px">
          <path
            d="M730.404 135.471 369.675-6.641l88.802 164.001-243.179-98.8 246.364 263.281-329.128-126.619 114.698 166.726-241.68-62.446"
            stroke="url(#a)" stroke-width="40" stroke-linejoin="bevel"></path>
          <defs>
            <linearGradient id="a" x1="315.467" y1="6.875" x2="397.957" y2="337.724" gradientUnits="userSpaceOnUse">
              <stop stop-color="#fff"></stop>
              <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
        </svg>

        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="row">
              <div class="col-12">
                <p class="h5 mb-0 mt-24 hp-text-color-black-0">
                  If you have a new client, you can add their list of products.
                </p>
              </div>
              <div class="input-group mb-3 mt-3">
                <input #inputCsvFile type="file" class="form-control" id="inputGroupFile02"
                  (input)="csvFileReader($event)" />
                <button class="btn btn-primary" (click)="uploadCsv()">
                  Upload List
                </button>
              </div>
              <div>
                <ng-container>
                  <p class="text-white hp-p1-body " *ngIf="budget != 0">Monthly Budget - ${{budget}}</p>
                  <input  type="text" placeholder="$" class="text-center budgetInput" #budgetPrice>
                  <button class="btn btn-sm btn-primary" (click)="addBudget()" style="margin-left: 4px;">Add Budget</button>
                </ng-container>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col pe-md-32 pe-md-120" *ngIf="clientTableData.length != 0; else emptyTable">
              <h4>Client Details</h4>

              <p class="hp-p1-body">
                You can view a specific client's product list by clicking the
                'view' button in the table below, which provides details about
                each client.
              </p>
            </div>
            <ng-template #emptyTable>
              <p class="hp-p1-body emptyTable">
                No data to view. Try adding new client.
              </p>
              <div class="emptyImg">
                <img  src="assets/myImg/empty-folder.png" alt="empty" />
              </div>

            </ng-template>

            <div class="table-responsive col-12 mt-16">
              <table *ngIf="clientTableData.length != 0" class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Product Count</th>
                    <th scope="col">Status</th>
                    <th scope="col">Acc Manager</th>
                    <th scope="col">Product List</th>
                    <th scope="col">Project Dead Line</th>
                    <th scope="col">Internal Dead Line</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let client of clientTableData
                        | paginate
                          : {
                              id: 'listing_pagination',
                              itemsPerPage: 6,
                              currentPage: page,
                              totalItems: totalRecords
                            };
                      let i = index
                    ">
                    <td scope="row">{{ i + 1 }}</td>
                    <td>{{ client.clientName }}</td>
                    <td>{{ client.productCount }}</td>
                    <td [ngStyle]="{color: client.status == 'Approved' ? 'green' : 'red'}">{{ client.per }}%</td>
                    <td><div class="dropdown" *ngIf="client.account_Manager == '';else manager">
                      <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Add
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="javascript:;" (click)="AddManager('Emil',client._id,i)">Emil</a></li>
                        <li><a class="dropdown-item" href="javascript:;" (click)="AddManager('Carl',client._id,i)">Carl</a></li>
                        <li><a class="dropdown-item" href="javascript:;" (click)="AddManager('Lukas',client._id,i)">Lukas</a></li>
                       
                      </ul>
                    </div>
                    <ng-template #manager>
                      <strong>{{client.account_Manager}}</strong>  
                    </ng-template>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-outline-primary">
                        <a class="myhover" (click)="sendClientName(client.clientName)" [routerLink]="['products',client._id]"
                          >View Here</a>
                      </button>
                    </td>
                    <td><input *ngIf="client.project_deadline ==  '';else proDeadline" type="date" name="" class="calenderClass" id="project" (input)="setProjectDeadline($event,client._id)">
                    <ng-template #proDeadline>
                      {{client.project_deadline}}
                    </ng-template></td>
                    <td><input *ngIf="client.internal_deadline == '';else internalDeadline" type="date" name="" class="calenderClass" id="internal" (input)="setInternalDeadline($event,client._id)">
                      <ng-template #internalDeadline>
                        {{client.internal_deadline}}
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <pagination-controls *ngIf="clientTableData.length != 0;" id="listing_pagination" [maxSize]="5" [directionLinks]="true"
                  (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>

            <div class="col-12 mt-24 hljs-container">
              <pre>
        <code class="html" data-component='table' data-code='overview'></code>
    </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
