<div *ngIf="tableData" class="col-12 col-xl-4 bonus">
  <div class="card bonusBorder">
      <div class="card-body">
          
          <div class="row g-24">
              <div class="col-12">
                  <div class="row align-items-center justify-content-between bonus" *ngIf="deadLineOne">
                      <div class="col hp-flex-none w-auto">
                          <div class="d-flex align-items-center">
                            <i class="hp-text-color-dark-0 ri-2x ri-medal-line text-primary me-16" style="font-size: 24px;"></i>
                              

                              <div>
                                  <h5 *ngIf="deadLineOne" class="mb-0">{{deadLineOne | date:'dd-MM-yyyy'}}</h5>
                                  <p *ngIf="deadLineOne" class="mb-0 hp-badge-text fw-normal">Dead Line</p>
                              </div>
                          </div>
                      </div>

                      <div class="col hp-flex-none w-auto">
                          <div *ngIf="deadLineOne" class="form-check form-switch">
                              Bonus 50%
                          </div>
                      </div>
                  </div>
                  <div class="row align-items-center justify-content-between" >
                      <div class="col hp-flex-none w-auto">
                          <div class="d-flex align-items-center">
                            <i *ngIf="deadLineTwo;else deadlineIcon" class="hp-text-color-dark-0 ri-2x ri-medal-line text-primary me-16" style="font-size: 24px;"></i>
                            <ng-template #deadlineIcon>
                              <i class="hp-text-color-dark-0 ri-1x ri-timer-line" style="margin-right: 4px;font-size: 1.5em;"></i>
                            </ng-template>

                              <div >
                                  <h5 *ngIf="deadLineTwo"  class="mb-0">{{deadLineTwo | date:'dd-MM-yyyy'}}</h5>
                                  <p *ngIf="deadLineTwo;else noDeadLine" class="mb-0 hp-badge-text fw-normal">Dead Line</p>
                                  <ng-template #noDeadLine>
                                    Please wait the deadlines will be updated soon.
                                  </ng-template>
                              </div>
                          </div>
                      </div>

                      <div class="col hp-flex-none w-auto">
                          <div *ngIf="deadLineTwo" class="form-check form-switch">
                              Bonus 30%
                          </div>
                      </div>
                  </div>
              </div>        
          </div>
      </div>
  </div>
</div>
<div class="hp-main-layout-content" style="width: 100%;max-width: 100%;">
  <div class="row mb-32 gy-32">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col pe-md-32 pe-md-120" >
              <h4>Products</h4>
            </div>
            <div class="hp-header-search searchContainer col">
              <input type="text" style="width: 100%;" [(ngModel)]="serachForModel" class="form-control" placeholder="Search..." id="header-search" autocomplete="off">
          </div>
            <ng-template #emptyTable>
              <div class="emptyTable">
                <p class="hp-p1-body emptyTable">
                All the models have been approved
              </p>
              <i class="hp-text-color-dark-0 ri-2x ri-checkbox-circle-fill" style="color: green;"></i>
              </div>
              
            </ng-template>
            <div class="table-responsive col-12 mt-16">
              <table  class="table table-bordered text-center" *ngIf="tableData;else emptyTable">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">ID</th>
                    <th scope="col" matTooltip="Additional Infromation" matTooltipPosition="above">Info</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Product Link</th>
                    <th scope="col">QA</th>
                    <th scope="col">Product Status</th>
                    <th scope="col">Upload Model</th>
                    <th scope="col">Preview</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let pro of products | paginate
                  : {
                      id: 'listing_pagination',
                      itemsPerPage: 50,
                      currentPage: page,
                      totalItems: totalRecords
                    };let i = index">
                    <ng-container *ngIf="serachForModel === ''||(pro.tag.toLowerCase().includes(serachForModel))||(pro.articleId.toLowerCase().includes(serachForModel))||(pro.productName.toLowerCase().includes(serachForModel))">
                      <td scope="row">{{(page - 1) * 50 + i + 1}}</td>
                    <td>{{pro.articleId}}</td>
                    <td ><i *ngIf="pro.extraInfo;else noInfo" class="hp-text-color-dark-0 ri-2x ri-information-line" (click)="aditionalInfoDilog(pro.extraInfo)" style="font-size: 1.5em;color: blue;cursor: pointer;"></i>
                      <ng-template #noInfo>
                        --
                      </ng-template>
                     </td>
                    <td><div class="modalNameContainer">
                      <div class="text-with-dots" matTooltip="{{pro.productName}}" matTooltipPosition="above" >{{pro.productName}}</div>
                      <div *ngIf="pro.Reff"><a href="{{pro.Reff}}" target="_blank" style="font-size: smaller;">Reference</a></div>    
                  </div></td>
                  <td>
                    € {{pro.price}}
                  </td>
                    <td *ngIf="pro.productLink;else noLink"><a target="_blank"  href="{{pro.productLink}}" style="cursor: pointer;">Click</a>
                    </td>
                    <ng-template #noLink>
                      <td class="text-danger">NO LINK</td>
                    </ng-template>
                    <td>{{pro.QaTeam}}</td>
                    <td *ngIf="pro.productStatus == 'Not Uploaded' ;else pending" style="color: rgb(252, 11, 51);font-weight: 600;">{{pro.productStatus}}</td>
                    <ng-template #pending><td style="font-weight: bold;" [ngStyle]="{color : pro.productStatus == 'Approved' ? 'green' : 'rgb(255, 157, 0)' }">{{pro.productStatus}}</td></ng-template>
                    <td *ngIf="!pro?.modalFile;else uploadBtn"><input type="file" id="actual-btn" #fileInput (change)="acceptFile($event)" hidden/><label for="actual-btn" (click)="getIndex(i)">Choose File</label></td>
                    <ng-template #uploadBtn>
                      <td>
                        <button class="btn btn-sm btn-primary" (click)="onUpload(pro.articleId,i)" [disabled]="isLoading">
                          <span *ngIf="!isLoading">Upload Model</span>
                          <div *ngIf="isLoading" class="spinner-border text-white" role="status" style="width: 1.2rem;height: 1.2rem;">
                          </div>
                        </button><span class="closeBtn" (click)="resetFile(i)">X &nbsp;Close</span>
                      </td>
                    </ng-template>
                    <td *ngIf="pro.productStatus != 'Not Uploaded';else NoData">
                      <button (click)="loadModelReviewPage(pro.articleId,clientId,pro.version)" class="btn btn-sm btn-outline-primary">
                        View Model
                      </button>
                    </td>
                    <ng-template #NoData>
                      <td>
                        <p class="NoData" style="font-weight: 600;color: red;">
                          No Data
                       </p>
                      </td>
                    </ng-template>
                    </ng-container>
                    
                   
                  </tr>
                </tbody>
              </table>
              <div>
                <pagination-controls *ngIf="products.length != 0;" id="listing_pagination" [maxSize]="5" [directionLinks]="true"
                (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>

            <div class="col-12 mt-24 hljs-container">
              <pre>
        <code class="html" data-component='table' data-code='overview'></code>
    </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    
  </div>
</div>
