<div class="card-body" style="padding-top: 0;">
  <div class="row">
    <div class="col-12 col-lg-6 hp-ecommerce-app-detail-slider mt-24 mt-md-0 mb-64 mb-lg-0" id="model-viewer-div">
      <div class="swiper hp-ecommerce-app-detail-slider-1">
        <span *ngIf="fullScreenToggle"><i (click)="fullScreenMode()" matTooltip="Full Screen" matTooltipPosition="below" class="hp-text-color-dark-0 ri-2x ri-fullscreen-line" style="font-size: large;"></i></span>
        <span *ngIf="!fullScreenToggle"><i (click)="exitFullScreenMode()" matTooltip="Exit Full Screen" matTooltipPosition="below" style="font-size: large;" class="hp-text-color-dark-0 ri-2x ri-fullscreen-exit-fill"></i></span>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="d-flex align-items-center justify-content-center">
              <model-viewer camera-controls camera-orbit="45deg 55deg 115%" [src]="srcFile"
                alt="A 3D model of an astronaut" data-js-focus-visible="" ar-status="not-presenting">
              </model-viewer>
              <div class="mywarning" *ngIf="warningMsg != ''">
                <div class="col-12 col-md-6 col-xl-6" style="margin-left: auto;">
                  <div class="card" *ngIf="warningShow" style="border: 1px solid #ffc212;border-radius: 6px;background-color: #ffc21269;">
                      <div class="card-body" style="padding: 11px 11px;">
                          <div class="row g-16">
                              <div class="col-6 hp-flex-none w-auto">
                                  <div class="avatar-item d-flex align-items-center justify-content-center avatar-lg hp-bg-color-dark-primary rounded-circle" style="background-color: #ffc21200;">
                                    <i class="text-danger ri-2x ri-error-warning-line"></i>
                                  </div>
                              </div>
                              <div class="col">
                                  <h3 class="mb-4"><span class="hp-badge-text text-primary hp-text-color-dark-primary-2">Warning</span></h3>
                                  <p class="hp-p1-body mb-0 text-black-80 hp-text-color-dark-30">{{warningMsg}}</p>
                              </div>
                              <i (click)="warningShow = false" class="hp-text-color-dark-0 ri-close-fill warningClosebtn"></i>
                          </div>
                      </div>
                  </div>
                  <div *ngIf="!warningShow" class="col-6 hp-flex-none w-auto">
                    <div class="avatar-item d-flex align-items-center justify-content-center hp-bg-color-dark-primary rounded-circle" style="background-color: #ffc21200;margin-left: auto;">
                      <i (click)="warningShow=true" class="text-danger ri-2x ri-error-warning-line" style="cursor: pointer;" ></i>
                    </div>
                </div>
              </div>
              </div>
              <div class="QAbtn">
                <div class="col-6 col-md-3 col-xl-3" style="margin-right: auto;">
                  <button class="btn btn-ghost btn-primary startQa" (click)="viewCorrections(articleId,clientId,version)">Corrections
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6" *ngIf="fullScreenToggle">
      <h5 class="mb-8">{{product.productName}}</h5>
      <span class="hp-caption d-block text-black-60" style="margin-bottom: 0.5rem;">
        By
        <span class="ms-4 text-black-80 hp-text-color-dark-30">{{modelDetails[0]?.clientDetails[0].clientName}}</span>
      </span>
      <ul class="proDetails" *ngIf="QaCommentArr.length != 0">
        <li>Product Status: <span
            [ngStyle]="{color : QaCommentArr[0].modalStatus == 'Approved' ? 'green' : 'orange'}">{{QaCommentArr[0].modalStatus}}</span><span
            *ngIf="QaCommentArr[0]?.modalStatus == 'Approved'"><i style="font-size: 0.9rem;
                margin-left: 3px;color: green;" class="hp-text-color-dark-0 ri-2x ri-checkbox-circle-fill"></i></span>
        </li>
        <li>Polygon Count : <span>{{gltfData?.totalTriangleCount}}</span></li>
        <li>Material Count : <span>{{gltfData?.materialCount}}</span></li>
        <li>Draw Calls : <span>{{gltfData?.drawCallCount}}</span></li>
        <li>Vertices : <span>{{gltfData?.totalVertexCount}}</span></li>
        <li>Animations : <span>{{gltfData?.animationCount}}</span></li>
        <!-- <li>Admin Status: <span
            [ngStyle]="{color : QaCommentArr[0].adminStatus == 'Approved' ? 'green' : 'red'}">{{QaCommentArr[0].adminStatus}}</span><span
            *ngIf="QaCommentArr[0]?.modalStatus == 'Approved'"><i style="font-size: 0.9rem;
                margin-left: 3px;color: green;" class="hp-text-color-dark-0 ri-2x ri-checkbox-circle-fill"></i></span>
        </li> -->
      </ul>
      <div class="row align-items-center justify-content-between mt-24 pe-42">
        <div class="col-12 col-md-4">
          <!-- <div class="row mx-0 align-items-center">
                      
                    </div> -->
          <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              Action
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="javascript:;"
                  (click)="updateModalStatus(QaCommentArr[0].articleId,'Approved')">Approve</a></li>
              <li><a class="dropdown-item" href="javascript:;"
                  (click)="updateModalStatus(QaCommentArr[0].articleId,'Rejected')">Rejected</a></li>
              <li><a class="dropdown-item" href="javascript:;"
                  (click)="downloadFile(QaCommentArr[0].articleId)">Download</a></li>
            </ul>
          </div>
        </div>
        <div class="col hp-flex-none w-auto mt-24 mt-sm-0">
          <div class="row align-items-center mb-4">
            <div class="w-auto pe-0">
              <ul class="row g-6">
                <li class="col hp-flex-none w-auto">
                  3D Artist
                </li>
              </ul>
            </div>
          </div>

          <span class="d-block text-start hp-caption text-black-80 hp-text-color-dark-30">{{product.assigned}}</span>
        </div>
      </div>

      <div class="divider"></div>
      <div class="chatHead">

       
        <h2 *ngIf="!toggleChatBtn;else adminHead">QA-Admin Exchange</h2>
        <ng-template #adminHead>
          <h2>Interactive Chat</h2>
        </ng-template>
        <button *ngIf="!toggleChatBtn;else adminChat" data-bs-toggle="tooltip" title="click for interactive chat" (click)="viewInteractivechat(QaCommentArr[0]?.articleId,QaCommentArr[0]?.clientId,version)"  class="btn btn-text text-primary hp-hover-bg-primary-4 hp-hover-bg-dark-primary">Interactive Chat <span><i class="hp-text-color-dark-0 ri-2x ri-chat-4-fill" style="margin-left: 3px;
          font-size: 1em;
      "></i></span></button>
      <ng-template #adminChat>
        <button data-bs-toggle="tooltip" title="click for admin chat" (click)="viewAdminchat(QaCommentArr[0]?.articleId,QaCommentArr[0]?.clientId,version)"  class="btn btn-text text-primary hp-hover-bg-primary-4 hp-hover-bg-dark-primary">Admin Chat <span><i class="hp-text-color-dark-0 ri-2x ri-chat-4-fill" style="margin-left: 3px;
          font-size: 1em;
      "></i></span></button>
      </ng-template>

      </div>
      <div class="container bootstrap snippets bootdeys mybg">
        <div class="col-md-12 col-xs-12 col-md-offset-2">
          <!-- Panel Chat -->
          <div class="panel" id="chat" *ngIf="!toggleChatBtn;else interactiveChat">

            <div class="panel-body myChatbody" #chatBody>

              <div class="chats">
                <div class="chat">
                  <!-- <div class="chat-avatar">
                          <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                            <i></i>
                          </a>
                        </div> -->
                  <ng-container *ngIf="QaCommentArr[0]?.comments?.length != 0;else noChat">
                    <div class="chat-body" *ngFor="let date of getGroupedMessageKeys()">
                      <!-- <div style="text-align: center;padding: 0.5rem;">
                            <p>Today</p>
                          </div>  -->
                      <p class="meta" style="margin-bottom: 1.5rem;text-align: center;"
                        *ngIf="date != currentDate;else today"><time>{{date}}</time></p>
                      <ng-template #today>
                        <p class="meta" style="margin-bottom: 1.5rem;text-align: center;"><time>Today</time></p>
                      </ng-template>
                      <ng-container *ngFor="let message of groupedMessages[date]">
                        <div class="chat-content" *ngIf="message.user == userEmail"
                          style="margin-bottom: 8px;background-color: #0010f78c;">
                          <p *ngIf="message.user == userEmail">{{message.cmnt}}</p>
                          <time class="chat-time" datetime="2015-07-01T11:37">{{message.time}}</time>
                        </div>

                        <div *ngIf="message.user != userEmail" class="chat-content"
                          style="float: left;background-color: #62a8ea;">
                          <p *ngIf="message.user != userEmail">{{message.cmnt}}</p>
                          <time class="chat-time" datetime="2015-07-01T11:37">{{message.time}}</time>
                        </div>
                      </ng-container>
                      <!-- <p class="meta" style="margin-bottom: 1.5rem;text-align: center;" ><time >Today</time></p> -->

                    </div>
                  </ng-container>
                  <ng-template #noChat>
                    <div class="chat-body">
                      <p class="meta" style="margin-bottom: 1.5rem;text-align: center;"><time>No Chats</time></p>
                    </div>
                  </ng-template>
                  <!-- <div style="text-align: center;padding: 0.5rem;">
                          <p>Today</p>
                        </div>  -->
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <form>
                <div class="input-group" style="gap: 0.5rem;">
                  <input type="text" #comntRef class="form-control" (input)="getComment($event)"
                    placeholder="Say something">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" (click)="pushComnts()" type="button">Send</button>
                    <ng-template></ng-template>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- End Panel Chat -->
         
          <!-- interactive chat Panel Chat -->
          <ng-template #interactiveChat>
            <div class="panel" id="chat">
              <div class="panel-body" #chatBodyIn>
                <div class="chats myChatbody">
                  <div class="chat">
                    <!-- <div class="chat-avatar">
                            <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                              <i></i>
                            </a>
                          </div> -->
                    <ng-container *ngIf="QaCommentArr[0]?.comments?.length != 0;else noChat">
                      <div class="chat-body" *ngFor="let date of getGroupedMessageKeys()">
                        <!-- <div style="text-align: center;padding: 0.5rem;">
                              <p>Today</p>
                            </div>  -->
                        <p class="meta" style="margin-bottom: 1.5rem;text-align: center;"
                          *ngIf="date != currentDate;else today"><time>{{date}}</time></p>
                        <ng-template #today>
                          <p class="meta" style="margin-bottom: 1.5rem;text-align: center;"><time>Today</time></p>
                        </ng-template>
                        <ng-container *ngFor="let message of groupedMessages[date]">
                          <div class="chat-content" *ngIf="message.user == userEmail"
                            style="margin-bottom: 8px;background-color: #0010f78c;">
                            <p *ngIf="message.user == userEmail" style="margin-bottom: 0em;">{{message.cmnt}}</p>
                            <time class="chat-time" datetime="2015-07-01T11:37">{{message.time}}</time>
                          </div>
  
                          <div *ngIf="message.user != userEmail" class="chat-content"
                            style="margin-bottom: 8px;float: left;min-width: 8rem;"
                            [ngStyle]="{background : message.roll == 'QA' ?  '#62a8ea' : '#526D82'}">
                            <p *ngIf="message.user != userEmail" style="margin-bottom: 0em;">{{message.cmnt}}</p>
                            <div class="timeRoll">
                              <time class="chat-time" datetime="2015-07-01T11:37">{{message.time}} </time>
                              <small class="roll">{{message.roll}}</small>
                            </div>
                          </div>
                        </ng-container>
                        <!-- <p class="meta" style="margin-bottom: 1.5rem;text-align: center;" ><time >Today</time></p> -->
  
                      </div>
                    </ng-container>
                    <ng-template #noChat>
                      <div class="chat-body">
                        <p class="meta" style="margin-bottom: 1.5rem;text-align: center;"><time>No Chats</time></p>
                      </div>
                    </ng-template>
                    <!-- <div style="text-align: center;padding: 0.5rem;">
                            <p>Today</p>
                          </div>  -->
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <form>
                  <div class="input-group" style="gap: 0.5rem;">
                    <input type="text" #comntRef class="form-control" (input)="getComment($event)"
                      placeholder="Say something">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="pushInteractiveComnts()" type="button">Send</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>