<div class="hp-main-layout-content">
    <div class="col-12">
    <div class="row g-32">
        <div class="col-12 col-xl-8">
    <div id="invoice" #invoiceContent class="card border-none hp-invoice-card">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-3 mb-3">
                    <a class="position-relative">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mylogo"
                      viewBox="0 0 4273.999 893.932">
                      <g transform="translate(-16.285 -14.9)">
                          <path
                              d="M16.285,550.485a208.2,208.2,0,0,1,3.874-38.74l49.394-278.93C92.8,101.1,173.182,43.956,330.081,43.956c64.89,0,123,10.653,185.953,28.087L484.073,194.074c-54.236-11.622-122.032-21.307-168.521-21.307-68.764,0-96.85,23.244-108.473,91.039L167.372,488.5a193.248,193.248,0,0,0-2.9,30.024c0,44.551,25.181,61.016,79.417,61.016,46.488,0,109.441-5.812,167.552-18.4l4.842,122.032c-51.33,14.527-123,25.181-194.669,25.181C79.238,708.351,16.285,640.556,16.285,550.485Z" />
                          <path
                              d="M833.706,379.059c.969-5.811,1.938-11.622,1.938-15.5,0-9.685-4.843-13.559-18.4-13.559-25.182,0-85.229,25.181-122.032,44.551L641.943,698.666H505.383l117.189-664.4L762.037,14.9,718.454,264.776c57.142-29.055,121.063-47.457,172.394-47.457,62.953,0,86.2,35.835,86.2,95.882,0,16.464-.969,34.866-4.842,54.236L914.092,698.666H777.533Z" />
                          <path
                              d="M1299.56,698.666l-3.874-40.677c-32.93,25.181-82.323,50.361-150.118,50.361-102.662,0-123-61.984-104.6-167.551l22.276-126.874c19.37-112.347,63.921-195.638,249.874-195.638,49.4,0,114.284,8.717,180.143,29.055l-78.449,451.324H1299.56ZM1175.59,555.327c-3.874,25.182,1.937,34.866,26.149,34.866,34.866,0,72.638-20.339,103.63-46.488L1341.2,339.351c-18.4-3.874-38.74-4.843-53.268-4.843-70.7,0-79.418,34.866-88.134,80.386Z" />
                          <path
                              d="M1852.57,341.287c-60.048,32.93-82.323,45.52-136.56,79.418l-49.394,277.961h-136.56l80.386-460.04,120.095-20.339-2.905,63.921c45.52-27.118,82.323-46.488,123-63.921Z" />
                          <path
                              d="M2048.21,227l3.874,40.677c33.9-28.086,82.322-50.362,150.118-50.362,102.661,0,127.843,61.984,109.441,167.552l-22.276,126.874C2270,624.092,2240.942,708.351,2042.4,708.351c-14.527,0-44.551-1.937-57.142-4.842l-32.929,185.953-139.465,19.37L1932.956,227H2048.21Zm129.78,141.4c4.843-25.181-1.937-36.8-26.149-36.8-48.426,0-83.291,25.181-109.442,48.425l-36.8,210.166c15.5,2.905,33.9,3.874,53.268,3.874,70.7,0,85.229-37.771,93.945-83.291Z" />
                          <path
                              d="M2347.48,677.359l26.149-100.725c35.835,12.591,76.513,24.213,127.843,24.213,45.52,0,48.426-13.559,52.3-35.834,3.874-21.308-9.686-32.93-62.953-61.017-98.788-52.3-102.661-87.165-90.071-157.866,18.4-101.693,48.426-128.812,179.174-128.812,44.551,0,101.693,9.686,140.434,22.276l-22.275,102.662c-34.867-9.685-86.2-17.433-119.127-17.433-40.677,0-46.488,4.842-51.33,30.024-3.875,22.275.968,27.118,46.488,51.331,108.473,58.111,124.937,78.449,111.378,153.024-19.37,106.536-50.362,149.149-191.765,149.149C2450.14,708.351,2389.13,695.761,2347.48,677.359Z" />
                          <path
                              d="M2972.16,336.445l-41.646,235.347c-.969,4.842-1.938,9.685-1.938,12.59,0,6.78,3.874,9.686,13.56,9.686,23.244,0,49.394-9.686,73.606-19.37l27.118,94.913c-38.74,21.308-94.914,38.74-150.119,38.74-68.764,0-105.566-32.929-105.566-89.1a144.554,144.554,0,0,1,1.937-20.339L2835.6,336.445h-69.732L2785.238,227h69.732l19.37-113.315,140.434-19.37-23.244,132.686h112.347L3076.76,336.446h-104.6Z" />
                          <path
                              d="M3569.73,541.769H3300.485l-80.386,156.9H3134.87L3459.319,53.641H3575.54l100.725,645.025h-83.291Zm-236.32-69.733h225.662l-49.4-362.222Z" />
                          <path
                              d="M4059.78,464.288H3898.039l-41.646,234.378h-81.354L3889.323,53.641h230.5c121.063,0,170.457,48.425,170.457,126.875a211.9,211.9,0,0,1-2.9,34.866l-16.465,92.977c-13.56,77.48-39.709,122.031-127.843,145.275l125.906,245.032h-89.1Zm146.25-248.906a152.579,152.579,0,0,0,2.9-27.118c0-46.488-29.056-61.984-94.913-61.984h-156.9l-46.488,266.339h156.9c79.417,0,111.378-23.244,123-90.071Z" />
                      </g>
                  </svg>
                        
                    </a>
                </div>

                <div class="col-12 col-lg-6">
                    <p class="hp-p1-body mb-16 text-end">INVOICE NUMBER {{invoiceNumber}}</p>
                </div>

                <div class="col-12">
                    <h4>{{modelerName}}</h4>
                    <p style="margin-bottom: 0.5rem;">{{bankDetails[0]?.address}}</p>
                    <p style="margin-bottom: 0.5rem;">demo@gmail.com</p>
                    <p style="margin-bottom: 0.5rem;">{{bankDetails[0]?.mob}}</p>
                </div>
            </div>

            <div class="divider"></div>
            <h2 style="color: #283592;">INVOICE</h2>

            <div class="row justify-content-between">
                <div class="col-12 col-md-4 pb-16 hp-print-info">
                    <p class="hp-text-color-dark-0 hp-input-label" style="color: #283592;">Invoice for:</p>
                    <p style="margin-bottom: 0.5rem;">Bank Name - <span>{{bankDetails[0]?.bankName}}</span></p>
                    <p style="margin-bottom: 0.5rem;">Bank Acc-Nr - <span>{{bankDetails[0]?.accountNumber}}</span> </p>
                    <p style="margin-bottom: 0.5rem;">Street Address - <span>{{bankDetails[0]?.address}}</span></p>
                    <p style="margin-bottom: 0.5rem;">City,State,Zip - <span>{{bankDetails[0]?.pincode}}</span></p>
                    <p style="margin-bottom: 0.5rem;">BIC/SWIFT code - <span>{{bankDetails[0]?.swiftCode}}</span></p>
                    <p style="margin-bottom: 0.5rem;">Mobile No - <span>{{bankDetails[0]?.mob}}</span></p>
                </div>

                <div class="col-12 col-md-4 pb-16 hp-print-info">
                    <p class="hp-text-color-dark-0 hp-input-label" style="color: #283592;">Payable to:</p>
                    <p style="margin-bottom: 0.5rem;">{{modelerName}}</p>
                    
                </div>

                <div class="col-12 col-md-4 text-start text-sm-end hp-print-info">
                    <p style="margin-bottom: 0.5rem;">Date Issue: <span>{{curDate | date : 'dd/MM/yyyy'}}</span></p>
                    
                </div>
            </div>

            <div class="divider"></div>

            <div class="row mx-n24">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="pt-0 pe-0 pb-14 bg-transparent" style="color: #283592;">Clients</th>
                                    <th scope="col" class="pt-0 pb-14 bg-transparent hp-invoice-table-desc" style="color: #283592;">Models</th>
                                    <th scope="col" class="pt-0 pe-0 pb-14 bg-transparent hp-invoice-table-th" style="color: #283592;">Cost</th>

                                </tr>
                            </thead>
                            <tbody>
                                   <tr *ngFor="let model of approvedModels;let i = index">
                                    <td class="py-6 pe-0" >
                                        <p style="margin-bottom: 0rem;">{{model.ClientName}}</p>
                                    </td>
                                
                                  
                                        <td class="py-6">
                                        <p style="margin-bottom: 0rem;">{{model.productName}}</p>
                                    </td>
                                    <td class="py-6 pe-0">
                                        <p style="margin-bottom: 0rem;">$ {{model.price}}</p>
                                    </td>
                                </tr>    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row justify-content-end">
                <div class="col-12 col-xl-3 pb-16 hp-print-checkout">
                    <div class="row align-items-center justify-content-between">
                        <p class="hp-badge-text hp-flex-none w-auto">Subtotal</p>
                        <h5 class="mb-4 hp-flex-none w-auto">$ {{subTotal}}</h5>
                    </div>

                    <div class="row align-items-center justify-content-between">
                        <p class="hp-badge-text hp-flex-none w-auto">Bonus </p>
                        <h5 class="mb-4 hp-flex-none w-auto">-$ {{bonus}} </h5>
                    </div>

                    <!-- <div class="row align-items-center justify-content-between">
                        <p class="hp-badge-text hp-flex-none w-auto">Tax %20</p>
                        <h5 class="hp-flex-none w-auto">$ 49.60</h5>
                    </div> -->

                    <div class="divider"></div>

                    <div class="row align-items-center justify-content-between">
                        <h5 class="text-primary hp-flex-none w-auto">Total</h5>
                        <h5 class="text-primary hp-flex-none w-auto">$ {{getSubTotalWithBonus()}}</h5>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="col-12 col-xl-4 hp-print-none">
    <div class="card border-none mb-32">
        <div class="card-body">
            <button type="button" class="btn btn-primary w-100">
                <i class="ri-mail-send-line remix-icon" style="font-size: 16px;"></i>
                <span>Send Invoice</span>
            </button>

            <button (click)="createPdf()" type="button" class="btn btn-primary w-100 mt-16 btn-ghost">
                <i class="ri-download-2-line remix-icon" style="font-size: 16px;"></i>
                <span>Download</span>
            </button>

            <!-- <div onclick="window.print()">
                <button type="button" class="btn btn-primary w-100 mt-16 btn-ghost">
                    <i class="ri-printer-line remix-icon" style="font-size: 16px;"></i>
                    <span>Print</span>
                </button>
            </div> -->
        </div>
    </div>
</div>
    </div>

</div>

</div>
